.container {
    width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}

.header-container {
    display: flex;
    width: 1158px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-right: 76px;
}

.footer-logo {
    margin-bottom: 16px;
    display: inline-block;
}

.menu-nav .another-color {
    color: #2e2f42;
}

footer .another-color {
    color: #f4f4fd;
}

.header {
    border-bottom: 1px solid #e7e9fc;
    margin-top: 0;
    margin-bottom: 0;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-nav {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    display: flex;
    align-items: center;
}

.header-menu-list {
    gap: 40px;
    position: relative;
}

.menu-nav-item {
    width: calc((100% - 80px) / 3);
    padding-top: 24px;
    padding-bottom: 24px;
}

.menu-nav-link {
    color: #2e2f42;
    padding-bottom: 24px;
    padding-top: 24px;
}

.menu-nav-link:hover,
.menu-nav-link:focus {
    color: #404bbf;
}

.studio-menu-nav-item {}

.studio-menu-nav-link {
    position: relative;
    /* color: #404bbf;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1); */
}

.studio-menu-nav-link::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 4px;
    border-radius: 2px;
    left: 0;
    bottom: -1px;
    background-color: #404bbf;
    /* transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1); */
}

.contacts {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-style: normal;
    color: #434455;
    display: flex;
    margin-left: auto;
}

.contacts-list {
    display: flex;
    gap: 40px;
}

.contacts-link {
    display: block;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.contacts-link:hover,
.contacts-link:focus {
    color: #404bbf;
}

.hero {
    background-color: #2e2f42;
    padding-top: 188px;
    padding-bottom: 188px;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width: 1440px;
    margin: 0 auto;
}

.hero-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;

}

.hero-heading {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: #fff;
    text-align: center;
    max-width: 496px;
    margin-bottom: 48px;
}

.my-button {
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    background: #4d5ae5;
    font-family: inherit;
    border-radius: 4px;
    min-width: 169px;
    height: 56px;
    border: none;
    display: block;
    align-items: center;
    text-align: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.my-button:hover,
.my-button:focus {
    background-color: #404bbf;
}


.features {
    padding-top: 120px;
    padding-bottom: 120px;
}

.features-heading {}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.features-list {
    display: flex;
    gap: 24px;

}

.features-item {
    width: calc((100% - 72px) / 4)
}

.features-subheading {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;

}

.features-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;

}

.features-icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: #f4f4fd;
    border-radius: 4px;
    border: 1px solid #8e8f99;
    margin-bottom: 8px;
}

.our-team-container {}

.our-team {
    padding-top: 120px;
    padding-bottom: 120px;
    background-color: #F4F4FD;
}

.team-heading {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.person-container {
    padding-top: 32px;
    padding-bottom: 32px;
}

.team-subheading {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 8px;
}

.team-list {
    display: flex;
    gap: 24px;
    flex-shrink: 0;
    align-self: center;

}

.team-item {
    border-radius: 0px 0px 4px 4px;
    width: calc((100% - 72px) / 4);
    background-color: #FFFFFF;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.team-list-para {
    font-size: 16px;
    text-align: center;
    margin-bottom: 8px;

}

.social-list {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.social-item {
    width: 40px;
    height: 40px;
}

.social-link {
    border-radius: 50%;
    background-color: #4d5ae5;
    fill: #f4f4fd;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover,
.social-link:focus {
    background-color: #404bbf;
    ;
}

.portfolio {
    padding-top: 120px;
    padding-bottom: 120px;
}

.portfolio-heading {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}

.portfolio-item {
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    width: calc((100% - 48px) / 3);

}

.portfolio-item:hover {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    transform: translateY(0%);
}

.portfolio-item-container {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.portfolio-item-box {
    position: relative;
    overflow: hidden;
}

.portfolio-item-box-text {
    position: absolute;
    top: 0;
    font: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    padding: 40px 32px;
    background-color: #4d5ae5;
    height: 100%;
    width: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover .portfolio-item-box-text {
    transform: translateY(0%);
}

.portfolio-subheading {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.portfolio-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.footer {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    background-color: #2E2F42;
    padding-top: 100px;
    padding-bottom: 100px;
}

.footer-wrapper {
    display: flex;
    align-items: baseline;
}


.footer-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    max-width: 264px;

}



.footer-container {
    margin-right: 120px;
}


.footer-social-container {
    margin-right: 80px;
}

.footer-social-media-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    margin-bottom: 16px;
}

.footer-social-list {
    display: flex;
    gap: 16px;
}

.footer-social-item {
    width: 40px;
    height: 40px;
}

.footer-social-link {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-link:hover,
.footer-social-link:focus {
    background-color: #31D0AA;
}

.footer-subscribe-container {}

.footer-subscribe-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    margin-bottom: 16px;
}

.footer-form {
    display: flex;
    gap: 24px;
}

.footer-form-label {}

.footer-form-input {
    border: 1px solid #fff;
    background-color: transparent;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: #fff;
    border-radius: 4px;
    width: 264px;
    height: 40px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding-left: 16px;
}

.footer-form-input::placeholder {
    color: #fff;
}

.footer-form-input:hover,
.footer-form-input:focus,
.footer-form-input:active {
    border: 1px solid #4d5ae5;
}

.footer-subscribe-button {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    border-radius: 4px;
    padding: 8px 24px;
    min-width: 165px;
    height: 40px;
    color: #fff;
    background-color: #4d5ae5;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-subscribe-button:hover {
    background-color: #404bbf;
}


.footer-subscribe-icon {
    fill: #fff;
    margin-left: 16px;
}


.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    background-color: rgba(46, 47, 66, 0.4);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
        visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 4px;
    width: 408px;
    min-height: 584px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
    background-color: #fcfcfc;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 72px 24px 24px 24px;
}

.backdrop:not(.is-open) .modal {
    transform: translate(-50%, -100%);
}


.modal-close-button {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-button:hover,
.modal-close-button:focus {
    border: none;
    fill: #fff;
    background-color: #404bbf;
}

.icon-close {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 16px;
}

.form {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.form-container {
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
    width: 360px;
    margin-bottom: 8px;
}

.form-label {

    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    display: block;
    margin-bottom: 4px;
}

.form-input-wrap {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    margin: 0 auto;
}

.form-input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding-left: 38px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.form-input::placeholder {
    color: #7e5c5c;
    font-style: italic;
}

.input-icon-svg {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    pointer-events: none;
}


.form-input:hover+.input-icon-svg,
.form-input:focus+.input-icon-svg {
    fill: #4d5ae5;
}


.form-input:active,
.form-input:focus {
    border: 1px solid #4d5ae5;
}



.form-button {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: #ffffff;
    cursor: pointer;
    margin: 0 auto;
    background: #4d5ae5;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    font-family: inherit;
    border-radius: 4px;
    min-width: 169px;
    height: 56px;
    border: none;
    display: block;
    align-items: center;
    text-align: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-button:hover,
.form-button:focus {
    background-color: #404bbf;
}

.form-textarea-container {
    margin-bottom: 16px;
    width: 360px;
}

.form-textarea {
    width: 100%;
    height: 120px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding: 8px 16px;
    outline: transparent;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-textarea:focus {
    border-color: #4D5AE5;
}

.form-textarea placeholder {
    color: rgba(46, 47, 66, 0.4);
}

.checkbox-container {
    width: 360px;
    margin-bottom: 24px;
}

.checkbox-label {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
}

.checkbox-link {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.34;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #4d5ae5;
}

.checkbox-input {
    position: absolute;
    opacity: 0;
    visibility: hidden;
}

.input-span-check {
    position: relative;
    top: 0;
    left: 0;
    border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    width: 16px;
    height: 16px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
    background-color: transparent;
    cursor: pointer;
    margin-right: 8px;
}

.input-icon-check-svg {}

.checkbox-input:checked+.checkbox-label .input-span-check {
    background-color: #404bbf;
    border: none;
    fill: #f4f4fd;
}





.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.footer {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    background-color: #2E2F42;
    padding-top: 100px;
    padding-bottom: 100px;
}

.footer-wrapper {
    display: flex;
    align-items: baseline;
}


.footer-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    max-width: 264px;

}

.footer-logo {
    margin-bottom: 16px;
    display: inline-block;


}

.footer-container {
    margin-right: 120px;
}


.menu-nav .another-color {
    color: #2e2f42;
}

footer .another-color {
    color: #f4f4fd;
}

.footer-social-container {
    margin-right: 80px;
}

.footer-social-media-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    margin-bottom: 16px;
}

.footer-social-list {
    display: flex;
    gap: 16px;
}

.footer-social-item {
    width: 40px;
    height: 40px;
}

.footer-social-link {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-link:hover,
.footer-social-link:focus {
    background-color: #31D0AA;
}

.footer-subscribe-container {}

.footer-subscribe-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    margin-bottom: 16px;
}

.footer-form {
    display: flex;
    gap: 24px;
}

.footer-form-label {}

.footer-form-input {
    border: 1px solid #fff;
    background-color: transparent;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: #fff;
    border-radius: 4px;
    width: 264px;
    height: 40px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding-left: 16px;
}

.footer-form-input::placeholder {
    color: #fff;
}

.footer-form-input:hover,
.footer-form-input:focus,
.footer-form-input:active {
    border: 1px solid #4d5ae5;
}

.footer-subscribe-button {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    border-radius: 4px;
    padding: 8px 24px;
    min-width: 165px;
    height: 40px;
    color: #fff;
    background-color: #4d5ae5;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-subscribe-button:hover {
    background-color: #404bbf;
}


.footer-subscribe-icon {
    fill: #fff;
    margin-left: 16px;
}